@page "/"
@inject AuthenticationStateProvider AuthStateProvider
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="card">
            <div class="card-body">
                <h3>Welcome</h3>
                <p>You are logged in.</p>
                <a class="btn btn-primary" href="/admin">Admin Dashboard</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="card">
            <div class="card-body">
                <h3>Welcome</h3>
                <p>Please <NavLink href="/login">login</NavLink>.</p>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
